#    Copyright (C) 2022 7thCore
#    This file is part of IsRSrv-Script.
#
#    IsRSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    IsRSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=IsRSrv Server Service
After=network.target
Conflicts=isrsrv-tmpfs@%i.service
StartLimitBurst=3
StartLimitIntervalSec=300
StartLimitAction=none
OnFailure=isrsrv-send-notification@%i.service

[Service]
Type=forking
KillMode=none
WorkingDirectory=/srv/isrsrv/server/drive_c/Games/InterstellarRift/Build
ExecStartPre=/usr/bin/isrsrv-script pre-start %i
ExecStartPre=/usr/bin/isrsrv-script server_tmux_install %i
ExecStart=/usr/bin/tmux -f /tmp/%u-%i-tmux.conf -L %u-%i-tmux.sock new-session -d -s IsRSrv 'env WINEARCH=win64 WINEDEBUG=warn+heap WINEPREFIX=/srv/isrsrv/server wine /srv/isrsrv/server/drive_c/Games/InterstellarRift/Build/IR.exe -server -serverAddition %i -inline -linux -nossl -noConsoleAutoComplete 2> /tmp/isrsrv-wine-%i.log'
ExecStartPost=/usr/bin/isrsrv-script post-start %i
ExecStop=/usr/bin/isrsrv-script pre-stop %i
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t IsRSrv.0 'quittimer 15 Server shutting down in 15 seconds!' ENTER
ExecStopPost=/usr/bin/isrsrv-script post-stop %i
TimeoutStartSec=infinity
TimeoutStopSec=120
RestartSec=10
Restart=on-failure

[Install]
WantedBy=default.target
